html, body{
  margin: 0;
  padding: 0;
  background-color: #E8E8E8;
  font-family: 'Raleway', sans-serif;
}

#nav_bar{
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
}

.top_buttons{
  height: 100%;
  width: 25%;
  margin: 0;
  margin-right: -4px;
  border: none;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/*HOME*/
#home_button{
  /*color: #E5E4E2;*/
  color: white;
  background-color: black;
}

#home{
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  /*margin-top: 50px;*/
  z-index: -5;
  text-align: center;
  padding-top: 110px;
  background-color: white;
}

/*#hobbies_button{
  height: 46px;
  border-bottom: 4px solid #736AFF;
  border-bottom-color: #990012;
}*/

#name{
  font-size: 50px;
}

#class{
  font-size: 30px;
}

#term{
  color: #FF5A09;
}

/*ABOUT*/
#about{
  text-align: center;
  background-color: black;
  color: white;
  /*position: fixed;*/
}

/*CONTACT*/
#contact{
  text-align: center;
}

.asterisk{
  color: red;
}
