body{
  /*background-color: #E5E4E2;*/
  background-color: #A09996;
  /*background-color: #918A86;*/
  /*background-color: #83888C;*/
  background-color: white;
  padding: 0;
  margin: 0;
}

#nav_bar{
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
}

.top_buttons{
  height: 100%;
  width: 25%;
  margin: 0;
  margin-right: -4px;
  border: none;
  background-color: black;
  color: white;
  font-size: 18px;
}

#home_button{
  color: black;
  background-color: #E5E4E2;;
}

/*HOME*/
#home{
  width: 100%;
  margin-top: 50px;
  clear: both;
}

#pic1{
  display: inline-block;
  float: left;
  /*background-color: black;*/
  /*background-color: #E5E4E2;*/
  background-color: #A09996;
  /*background-color: #83888C;*/
  background-color: white;
  width: 30%;
  height: 600px;
  background-image: url("../images/_MG_8945 copy.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

#info{
  display: inline-block;
  float: top;
  /*background-color: black;*/
  /*background-color: #E5E4E2;*/
  /*background-color: #A09996;*/
  /*background-color: #83888C;*/
  /*background-color: white;*/
  /*background-color: #98AFC7;*/
  width: 68%;
  border: none;
  padding-top: 50px;
  padding-right: 20px;
  text-align: center;
}

#name{
  font-size: 60px;
}

#class{
  font-size: 40px;
}
