body{
  height: 100%;
  margin: 0;
  padding: 0;
  /*padding-top: 50px;*/
  font-family: 'Raleway', sans-serif;
}

@font-face{
  font-family: Museo;
  /*font-weight: bold;*/
  src:url("../fonts/MuseoSans_500.otf") format("opentype");
}

/*GENERAL*/
.big_div{
  width: 100%;
  background-color: white;
  color: black;
  padding-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid silver;
}

#experience_big_div{
  background-color: #E8E8E8;
}

#contact_big_div{
  background-color: #E8E8E8;
}

.small_div{
  margin: 0 auto;
  text-align: center;
  width: 90%;
  background-color: white;
  color: black;
}

.glyphicon{
  position: relative;
  line-height: -4px;
  font-size: 30px;
  margin-left: 2%;
  margin-right: 2%;
  color: #990012;
}

hr{
  height: 2px;
  border: none;
  margin: 0;
  color: gray;
  background-color: #B6B6B4;
  display: inline-block;
  width: 44%;
}

.div_header{
}

h2{
  font-size: 35px;
}

/*NAVIGATION BAR*/
#nav_bar{
  position:fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.85);
}

#nav_bar ul{
  height: 100%;
  width: 50%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#nav_bar ul li {
  display: inline-block;
  height: 100%;
  width: 18%;
}

#nav_bar ul li a {
  display: inline-block;
  /*height: 100%;*/
  line-height: 50px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

/*HOME*/
#home{
  width: 100%;
  height: 100vh;
  min-height: 500px;
  text-align: center;
  background-color: white;
  background-image: url("../images/home_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#overlay{
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  background-color: rgba(74, 112, 139, 0.7);
}

#name{
  position: relative;
  font-family: Museo, sans-serif;
  font-size: 70px;
  color: white;
  line-height: 100vh;
  bottom: 70px;
  font-weight: lighter;
}

/*ABOUT*/
#about{
  padding-bottom: 20px;
  overflow: hidden;
}

#about_img{
  display: inline-block;
  width: 300px;
  height: 300px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  border-radius: 150px;
  background: url("../images/Afrofest_2015.jpg") no-repeat;
  float: left;
  margin-left: 50px;
}

#about_description{
  width: 60%;
  display: inline-block;
  word-wrap: normal;
  font-size: 19px;
  padding-top: 10px;
}

/*EXPERIENCE*/
#experience{
  background-color: #E8E8E8;
}

.exp_year{
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-top: 25px;
}

.exp_div{
  display: inline-block;
  text-align: center;
  margin: 20px;
  width: 250px;
  height: 250px;
}

.exp_img{
  width: 100%;
  height: 75%;
  -webkit-border-radius: 15px 15px 0px 0px;
	-moz-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
  background-color: white;
  cursor: pointer;
  position: relative;
	transition: all 0.4s ease-in-out;
}

#snake_image{
  background-image: url("../images/unity_logo.png");
  background-position: 45% 0%;
  background-repeat: no-repeat;
  background-size: 83% 120%;
}

#pWebsite_image{
  background-image: url("../images/web_dev.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#URA_image{
  background-image: url("../images/uwaterloologo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#mabels_image{
  background-image: url("../images/mabels_labels.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 95% 100%;
}

#blackberry_image{
  background-image: url("../images/blackberry_logo.png");
  background-position: center 15%;
  background-repeat: no-repeat;
  background-size: contain;
}

#tictac_image{
  background-image: url("../images/android_logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#fortune_image{
  background-image: url("../images/android_logo.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.exp_info {
	position: absolute;
	width: 100%;
	height: 100%;
  -webkit-border-radius: 15px 15px 0px 0px;
	-moz-border-radius: 15px 15px 0px 0px;
  border-radius: 15px 15px 0px 0px;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
	backface-visibility: hidden;
}

.exp_info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 120px;
	margin: 0 30px;
	padding: 30px 0 0 0;
	height: 110px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow:
		0 0 1px #fff,
		0 1px 2px rgba(0,0,0,0.3);
}

.exp_img:hover {
	box-shadow:
		inset 0 0 0 125px rgba(0,0,0, 0.8),
		0 1px 2px rgba(0,0,0,0.1);
}

.exp_img:hover .exp_info {
	opacity: 1;
	transform: scale(1);
}

.exp_description{
  width: 100%;
  font-size: 15px;
  background-color: gray;
  color: white;
  text-align: center;
  -webkit-border-radius: 0px 0px 15px 15px;
	-moz-border-radius: 0px 0px 15px 15px;
  border-radius: 0px 0px 15px 15px;
}

.exp_full{
  display: block;
  width: 850px;
  min-height: 0px;
  padding: 0px 5px;
  margin: 0 auto;
}

.exp_full_top{
  width: 100%;
  height: 100px;
  background-color: #2C3539;
  padding: 10px 30px;
  -webkit-border-radius: 35px 35px 0px 0px;
	-moz-border-radius: 35px 35px 0px 0px;
  border-radius: 35px 35px 0px 0px;
  text-align: left;
}

.exp_full_title{
    margin-top:0;
    color:#808080;
    color: #990012;
    font-weight:bold;
    border-bottom:1px solid #707070;
    padding-bottom:5px;
    margin-bottom:5px
}

.glyphicon.ignore{
  position: default;
  line-height: 0px;
  font-size: inherit;
  margin-left: 0;
  margin-right: 4px;
  color: gray;
}

.exp_full_p{
  padding: 0;
  margin: 3px;
}

small{
  color: gray;
  font-size: 14px;
}

.exp_full_bottom{
  width: 100%;
  min-height: 200px;
  background-color: white;
  -webkit-border-radius: 0px 0px 35px 35px;
	-moz-border-radius: 0px 0px 35px 35px;
  border-radius: 0px 0px 35px 35px;
  border: 1px solid gray;
  text-align: left;
  padding: 10px 30px;
}

.experience_details{
  display: inline-block;
  width: 80%;
}

.lang_and_soft_used{
  display: inline-block;
  width: 17%;
  float: right;
  padding-left: 15px;
  border-left: 1px solid gray;
}

/*HOBBIES*/
#hobbies{
  background-color: white;
}

.hobbies_div{
  display: inline-block;
  margin: 20px;
  width: 250px;
  height: 250px;
  -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
  border-radius: 50%;
  perspective: 900px;
}

.hobbies_info{
  position: absolute;
	width: 100%;
	height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.hobbies_info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	transition: all 0.4s linear;
	transform-origin: 50% 0%;
}

.hobbies_info .hobbies_info_back {
  -webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  -moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	background: #000;
	opacity: 0;
}

#soccer_img{
  background-image: url("../images/soccer.jpg");
}

#developing_img{
  background-image: url("../images/developing.jpg");
}

#dancing_img{
  background-image: url("../images/dancing1.jpg");
}

#drawing_img{
  background-image: url("../images/drawing0.jpg");
}

.hobbies_info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	padding: 50px 0 0 0;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
}

.hobbies_div:hover .hobbies_info_front {
  -webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.hobbies_div:hover .hobbies_info_back {
  -webkit-transform: rotate3d(1,0,0,0deg);
  -moz-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}

.hobbies_info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}


/*CONNECT*/
#connect{
  background-color: #E8E8E8;
}

.connect_div{
  display: inline-block;
  position: relative;
  margin: 30px;
  width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#linkedin_connect{
  background-image: url("../images/linkedin_icon.png");
  background-size: 65% 65%;
  background-color: #007BB6;
}

#github_connect{
  background-image: url("../images/github_icon.png");
  background-size: 75% 75%;
  background-color: #2B2B2B;
}

#instagram_connect{
  background-image: url("../images/instagram_icon.png");
  background-size: 60% 60%;
  background-color: #517FA4;
}

#message_connect{
  background-image: url("../images/envelope.png");
  background-size: 85% 50%;
  background-color: #AAD450;
}

.glyphicon.connect{
  line-height: 150px;
  margin: 0;
  color: white;
  font-size: 100px;
}

#contact_form{
  width: 60%;
  height: 90%;
  margin: 0 auto;
  background-color: white;
  padding: 20px 0px;
  -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid #463E3F;
}

.contact_field{
  font-weight: bold;
}

input{
  width: 80%;
  background-color: #E8E8E8;
  -webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
  border-radius: 5px 5px 5px 5px;
}

#message_box{
  width: 80%;
  height: 150px;
  background-color: #E8E8E8;
  font-weight: normal;
  -webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
  border-radius: 5px 5px 5px 5px;
}

#send_message_button{
  width: 20%;
}

.asterisk{
  color: red;
}

/*END*/
#end{
  width: 100%;
  height: auto;
  background-color: #2B2B2B;
  background-color: black;
}

#created{
  display: inline-block;
  height: 150px;
  width: 40%;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  color: gray;
}
